<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="{{ .Site.Params.Manifest.themeColor | default "#5b5b67" }}">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitterCards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}

	{{- $cssReboot := resources.Get "css/reboot.css" }}
	{{- $cssMain := resources.Get "css/main.css" }}
	{{- $style := slice $cssReboot $cssMain | resources.Concat "css/bundle.css" }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{- range .Site.Params.customCSS }}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{- end }}
	{{- with ((.Site.GetPage "home").OutputFormats.Get "manifest") }}
	<link rel="manifest" href="{{ "manifest.json" | relURL }}">
	{{- end }}
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
	{{ partial "head_custom.html" . }}
</head>
<body class="body kind-{{ .Kind }} type-{{ .Type }}">
	{{ block "header" . }}{{ partial "header" . }}{{ end }}
	<div class="wrapper wrapper--flex">
		{{ block "main" . }}
			{{- if or .Title .Content }}
			<div class="page block">
				{{ with .Title }}<h1 class="page__title">{{ . }}</h1>{{ end }}
				{{ with .Content }}<div class="page__content{{ if not $.Title }} page__content--notitle{{ end }}">{{ . }}</div>{{ end }}
			</div>
			{{ end }}
		{{ end }}
		{{ block "sidebar" . }}
			{{ partial "sidebar.html" . }}
		{{ end }}
	</div>
	{{ block "footer" . }}{{ partial "footer" . }}{{ end }}
	{{ partial "scripts.html" . }}
	{{ partial "body_custom.html" . }}
</body>
</html>
